* {padding: 0; margin:0;}
body {background-color:#5B4D43;}
div {text-align: center}
h1 {margin-bottom: 20px; font-family: "ff-basic-gothic-pro", sans-serif; font-weight: 400; font-style: normal}
h2 {margin: 10px; font-family: "ff-basic-gothic-pro", sans-serif; font-weight: 400; font-style: normal}
hr {margin-left: 20%; margin-right: 20%;}
ul {display: flex; align-items: center}
ul li {display:inline; margin-left: 4%; font-family: "ff-basic-gothic-pro", sans-serif; font-weight: 400; font-style: normal}
a {color: black; text-decoration: none; font-family: "ff-basic-gothic-pro", sans-serif; font-weight: 400; font-style: normal}
p {font-family: "ff-basic-gothic-pro", sans-serif; font-weight: 400; font-style: normal}
.nav {display: flex; background-color:black; padding: 10pt;}
.banner {background-color:black; width:100vw; height:90vh; overflow: hidden; display: flex; justify-content: center; align-items: center;}
.banner img {width: 100%; transform: translate(0%, -10%);}
.title {padding: 50px;}
.project {margin-bottom: 50px;}
.container {display: flex; justify-content: center; align-items: center; margin: 50px;}
.container img {width: 100%; margin: 1vw; width: 20vw;}
.footer {text-align: center; background-color: black; padding: 30px; color: #a67a60;}
